flows (1).json
[{"id":"6f39e89e.f63c88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d9d87f2f.37843","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"7d8f1749.9c02e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"33ffb1a2.8b02ae","type":"ibmiot","z":"","name":"iotdevice","keepalive":"60","serverName":"q2va6d.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"667fcd0.d520834","type":"ui_tab","z":"","name":"Smart Garbage Monitoring System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2d2b0e42.1bd762","type":"ui_group","z":"","name":"Bin 1 Dashboard","tab":"667fcd0.d520834","order":1,"disp":true,"width":"5","collapse":true},{"id":"519ed632.bc3cb8","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"322cd66b.5a699a","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"65bd0b76.1e3b24","type":"ui_link","z":"","name":"Bin's location","link":"https://node-red-voxhx.eu-gb.mybluemix.net/worldmap/","icon":"open_in_browser","target":"iframe","order":3},{"id":"d57e3b7d.18cfa8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"aab5496f.e2f278","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"5d87f85c.0a3f88","type":"ui_group","z":"","name":"Bin 2 Dashboard","tab":"667fcd0.d520834","order":2,"disp":true,"width":"5","collapse":false},{"id":"e9886059.33405","type":"ui_group","z":"","name":"Bin 3 Dashboard","tab":"667fcd0.d520834","order":3,"disp":true,"width":"5","collapse":false},{"id":"f29a4288.fccc9","type":"ui_group","z":"","name":"Bin 4 Dashboard","tab":"667fcd0.d520834","order":4,"disp":true,"width":"5","collapse":false},{"id":"91fb6e91.533b9","type":"ui_group","z":"","name":"Analysis","tab":"667fcd0.d520834","order":5,"disp":true,"width":18,"collapse":false},{"id":"9ceaea57.4a02b8","type":"ibmiot in","z":"6f39e89e.f63c88","authentication":"apiKey","apiKey":"33ffb1a2.8b02ae","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"108","applicationId":"","deviceType":"rsip","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":80,"wires":[["bb6db5c.b215248","48d6612b.1d3cf","1814ccb7.d099f3","5d9c1d18.ec00f4","fbc2d577.862d48","86b6b594.1e0fe8","dc4eec2a.95d8e","fbe875dc.695bd8","87de0940.7ef828","1d2deef8.a564d1","6b07f068.a0ee4"]]},{"id":"bb6db5c.b215248","type":"debug","z":"6f39e89e.f63c88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":80,"wires":[]},{"id":"48d6612b.1d3cf","type":"function","z":"6f39e89e.f63c88","name":"Garbage level","func":"global.set('garbagelevel',msg.payload.d.garbagelevel)\nreturn {payload:msg.payload.d.garbagelevel}\n","outputs":1,"noerr":0,"x":220,"y":140,"wires":[["bb6db5c.b215248","a70373b5.bb5c3","3ce33b09.2d26a4"]]},{"id":"1814ccb7.d099f3","type":"function","z":"6f39e89e.f63c88","name":"Garbage weight","func":"global.set('garbageweight',msg.payload.d.garbageweight)\nreturn {payload:msg.payload.d.garbageweight}","outputs":1,"noerr":0,"x":220,"y":180,"wires":[["bb6db5c.b215248","ec955d42.29ed4"]]},{"id":"17d93f08.2c00f1","type":"http in","z":"6f39e89e.f63c88","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":160,"y":600,"wires":[["634704c4.62a2ac"]]},{"id":"d7a47ed5.4c36a","type":"http response","z":"6f39e89e.f63c88","name":"","statusCode":"","headers":{},"x":590,"y":600,"wires":[]},{"id":"634704c4.62a2ac","type":"function","z":"6f39e89e.f63c88","name":"httpresponse","func":"msg.payload={\"garbagelevel of bin 1\":global.get('garbagelevel'),\n\t\t\"garbageweight of bin1\":global.get('garbageweight'),\n\t\t\"garbage level of bin 2\":global.get('a'),\n\t\t\"garbageweight of bin 2\":global.get('b'),\n\t\t\"garbage level of bin3\":global.get('c'),\n\t\t\"garbageweight of bin 3\":global.get('d'),\n\t\t\"garbage level of bin4\":global.get('e'),\n\t\t\"garbageweight of bin4\":global.get('f')}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":600,"wires":[["d7a47ed5.4c36a"]]},{"id":"6b54038d.cd5bec","type":"debug","z":"6f39e89e.f63c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":720,"wires":[]},{"id":"d926c772.4df778","type":"http in","z":"6f39e89e.f63c88","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":140,"y":960,"wires":[["be274269.731be"]]},{"id":"539961c4.845f","type":"http response","z":"6f39e89e.f63c88","name":"","statusCode":"","headers":{},"x":690,"y":800,"wires":[]},{"id":"be274269.731be","type":"function","z":"6f39e89e.f63c88","name":"commands","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":840,"wires":[["539961c4.845f","8ba8ed6d.b9fbe","1a06b235.3b875e"]]},{"id":"8ba8ed6d.b9fbe","type":"debug","z":"6f39e89e.f63c88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":840,"wires":[]},{"id":"1a06b235.3b875e","type":"ibmiot out","z":"6f39e89e.f63c88","authentication":"apiKey","apiKey":"33ffb1a2.8b02ae","outputType":"cmd","deviceId":"108","deviceType":"rsip","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":880,"wires":[]},{"id":"9d8dcfaf.ef31f","type":"watson-text-to-speech","z":"d9d87f2f.37843","name":"","lang":"de-DE","langhidden":"de-DE","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"de-DE_DieterVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","apikey":"RO6uk3yQCWvbaAiF8cZQWPmSpCjFzvdQxm6I2NPhBXYc","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/31e80e36-1f50-401f-984b-39a8c984ebcf","x":400,"y":60,"wires":[["b9817605.9757a8"]]},{"id":"e84f1cc1.2fe42","type":"inject","z":"d9d87f2f.37843","name":"","topic":"","payload":"Hallo wie geht's dir","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":40,"wires":[["9d8dcfaf.ef31f"]]},{"id":"88cb4765.458e48","type":"watson-speech-to-text","z":"d9d87f2f.37843","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"kWtuCjv7N2XPHwzk6nM6kNASwiozG7dQ9pPZjvktYFRy","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/f41f7ed5-4a2d-4dfd-a8aa-1e83d322e62d","x":400,"y":180,"wires":[["351562d0.4cb6de"]]},{"id":"351562d0.4cb6de","type":"debug","z":"d9d87f2f.37843","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","x":640,"y":200,"wires":[]},{"id":"470ba7e1.f8f718","type":"visual-recognition-v3","z":"d9d87f2f.37843","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/3ed381a6-6d22-4598-bd73-ed3d1fe81ec1","image-feature":"classifyImage","lang":"en","x":410,"y":260,"wires":[["10c4c82a.269798"]]},{"id":"10c4c82a.269798","type":"debug","z":"d9d87f2f.37843","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":280,"wires":[]},{"id":"b9817605.9757a8","type":"play audio","z":"d9d87f2f.37843","name":"","voice":"","x":610,"y":80,"wires":[]},{"id":"bacce90b.15f818","type":"microphone","z":"d9d87f2f.37843","name":"","x":190,"y":160,"wires":[["88cb4765.458e48"]]},{"id":"4354c3c1.f60d0c","type":"camera","z":"d9d87f2f.37843","name":"","x":180,"y":260,"wires":[["470ba7e1.f8f718"]]},{"id":"a8a403ec.d5258","type":"ui_button","z":"6f39e89e.f63c88","name":"cover","group":"2d2b0e42.1bd762","order":3,"width":0,"height":0,"passthru":false,"label":"cover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"The bin is covered\"}","payloadType":"json","topic":"","x":170,"y":640,"wires":[["6b54038d.cd5bec","1a06b235.3b875e","ea392408.7be6c8"]]},{"id":"941b6a4a.a58298","type":"ui_button","z":"6f39e89e.f63c88","name":"uncover","group":"2d2b0e42.1bd762","order":4,"width":0,"height":0,"passthru":false,"label":"uncover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"The bin is uncovered\"}","payloadType":"json","topic":"","x":160,"y":680,"wires":[["1a06b235.3b875e","6b54038d.cd5bec","5e914fcd.7b3ae"]]},{"id":"ec955d42.29ed4","type":"ui_gauge","z":"6f39e89e.f63c88","name":"Garbage Weight","group":"2d2b0e42.1bd762","order":2,"width":0,"height":0,"gtype":"donut","title":"Garbage weight","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":220,"wires":[]},{"id":"a70373b5.bb5c3","type":"ui_gauge","z":"6f39e89e.f63c88","name":"Garbage Level","group":"2d2b0e42.1bd762","order":1,"width":0,"height":0,"gtype":"donut","title":"Garbage level","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":180,"wires":[]},{"id":"3301b546.8dca7a","type":"cloudant out","z":"d9d87f2f.37843","name":"","cloudant":"","database":"sensordata","service":"node-red-voxhx-cloudant-1589449749060-17277","payonly":false,"operation":"insert","x":610,"y":400,"wires":[]},{"id":"c31e4a44.c91ff8","type":"inject","z":"d9d87f2f.37843","name":"","topic":"","payload":"{\"id\":\"108\",\"payload\":\"data\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":380,"wires":[["3301b546.8dca7a"]]},{"id":"a58e238.a3c76e","type":"inject","z":"6f39e89e.f63c88","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":560,"wires":[["3039e49d.33ce3c"]]},{"id":"3039e49d.33ce3c","type":"function","z":"6f39e89e.f63c88","name":"geolocation","func":"msg.payload={\"name\":\"Bin1\", \"lat\":global.get(\"lat\"),\"lon\":global.get(\"lon\")}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":560,"wires":[["4c95d6ee.9d0518"]]},{"id":"4c95d6ee.9d0518","type":"worldmap","z":"6f39e89e.f63c88","name":"","lat":"17","lon":"78","zoom":"9","layer":"OSM","cluster":"16","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":700,"y":560,"wires":[]},{"id":"ea392408.7be6c8","type":"template","z":"6f39e89e.f63c88","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The dustbin lid is closed. {{The dustbin lid is closed}}","output":"str","x":700,"y":680,"wires":[["650eb65d.81ba48"]]},{"id":"650eb65d.81ba48","type":"ui_toast","z":"6f39e89e.f63c88","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":730,"y":640,"wires":[]},{"id":"a784747c.00b1d8","type":"ui_toast","z":"6f39e89e.f63c88","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":730,"y":760,"wires":[]},{"id":"5e914fcd.7b3ae","type":"template","z":"6f39e89e.f63c88","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The Dustbin lid is open.{{The Dustbin lid is open}}","output":"str","x":380,"y":760,"wires":[["a784747c.00b1d8"]]},{"id":"5d9c1d18.ec00f4","type":"function","z":"6f39e89e.f63c88","name":"lat","func":"global.set('lat',msg.payload.d.lat)\nreturn {payload:msg.payload.d.lat}","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["bb6db5c.b215248"]]},{"id":"fbc2d577.862d48","type":"function","z":"6f39e89e.f63c88","name":"lon","func":"\nglobal.set('lon',msg.payload.d.lon)\nreturn {payload:msg.payload.d.lon}","outputs":1,"noerr":0,"x":230,"y":260,"wires":[["bb6db5c.b215248"]]},{"id":"86b6b594.1e0fe8","type":"function","z":"6f39e89e.f63c88","name":"a","func":"global.set('a',msg.payload.d.a)\nreturn {payload:msg.payload.d.a}\n","outputs":1,"noerr":0,"x":230,"y":300,"wires":[["bb6db5c.b215248","87c61e06.e580c"]]},{"id":"87c61e06.e580c","type":"ui_gauge","z":"6f39e89e.f63c88","name":"a","group":"5d87f85c.0a3f88","order":1,"width":0,"height":0,"gtype":"donut","title":"Garbage Level","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":300,"wires":[]},{"id":"d9dc9b3c.5bf8f8","type":"ui_gauge","z":"6f39e89e.f63c88","name":"b","group":"5d87f85c.0a3f88","order":2,"width":0,"height":0,"gtype":"donut","title":"Gabage Weight","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":340,"wires":[]},{"id":"dc4eec2a.95d8e","type":"function","z":"6f39e89e.f63c88","name":"b","func":"global.set('b',msg.payload.d.b)\nreturn {payload:msg.payload.d.b}\n","outputs":1,"noerr":0,"x":210,"y":340,"wires":[["bb6db5c.b215248","d9dc9b3c.5bf8f8"]]},{"id":"fbe875dc.695bd8","type":"function","z":"6f39e89e.f63c88","name":"c","func":"global.set('c',msg.payload.d.c)\nreturn {payload:msg.payload.d.c}\n","outputs":1,"noerr":0,"x":210,"y":380,"wires":[["bb6db5c.b215248","899fe3b1.fc4f4"]]},{"id":"899fe3b1.fc4f4","type":"ui_gauge","z":"6f39e89e.f63c88","name":"c","group":"e9886059.33405","order":1,"width":0,"height":0,"gtype":"donut","title":"Garbage level","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":380,"wires":[]},{"id":"87de0940.7ef828","type":"function","z":"6f39e89e.f63c88","name":"d","func":"global.set('d',msg.payload.d.d)\nreturn {payload:msg.payload.d.d}\n","outputs":1,"noerr":0,"x":210,"y":420,"wires":[["bb6db5c.b215248","319c9c7d.e3e864"]]},{"id":"319c9c7d.e3e864","type":"ui_gauge","z":"6f39e89e.f63c88","name":"d","group":"e9886059.33405","order":2,"width":0,"height":0,"gtype":"donut","title":"Garbage Weight","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":420,"wires":[]},{"id":"1d2deef8.a564d1","type":"function","z":"6f39e89e.f63c88","name":"e","func":"global.set('e',msg.payload.d.e)\nreturn {payload:msg.payload.d.e}","outputs":1,"noerr":0,"x":210,"y":460,"wires":[["31acce70.0f2a32","bb6db5c.b215248"]]},{"id":"31acce70.0f2a32","type":"ui_gauge","z":"6f39e89e.f63c88","name":"e","group":"f29a4288.fccc9","order":1,"width":0,"height":0,"gtype":"donut","title":"Garbage level","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":460,"wires":[]},{"id":"90be421e.c138d","type":"ui_gauge","z":"6f39e89e.f63c88","name":"f","group":"f29a4288.fccc9","order":2,"width":0,"height":0,"gtype":"donut","title":"Garbage level","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":500,"wires":[]},{"id":"6b07f068.a0ee4","type":"function","z":"6f39e89e.f63c88","name":"f","func":"global.set('f',msg.payload.d.f)\nreturn {payload:msg.payload.d.f}","outputs":1,"noerr":0,"x":210,"y":500,"wires":[["bb6db5c.b215248","90be421e.c138d"]]},{"id":"3ce33b09.2d26a4","type":"ui_chart","z":"6f39e89e.f63c88","name":"","group":"91fb6e91.533b9","order":1,"width":0,"height":0,"label":"Reusable waste(Weekly)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":180,"wires":[[]]},{"id":"20ca9d97.e1f102","type":"ui_button","z":"6f39e89e.f63c88","name":"","group":"5d87f85c.0a3f88","order":3,"width":0,"height":0,"passthru":false,"label":"cover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":720,"wires":[["6b54038d.cd5bec","1a06b235.3b875e","ea392408.7be6c8"]]},{"id":"adc18168.2fc96","type":"ui_button","z":"6f39e89e.f63c88","name":"","group":"5d87f85c.0a3f88","order":4,"width":0,"height":0,"passthru":false,"label":"uncover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":760,"wires":[["6b54038d.cd5bec","5e914fcd.7b3ae","1a06b235.3b875e"]]},{"id":"2e0462f6.d5137e","type":"ui_button","z":"6f39e89e.f63c88","name":"","group":"e9886059.33405","order":3,"width":0,"height":0,"passthru":false,"label":"cover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":800,"wires":[["ea392408.7be6c8","6b54038d.cd5bec","1a06b235.3b875e"]]},{"id":"25adbed3.696b62","type":"ui_button","z":"6f39e89e.f63c88","name":"","group":"e9886059.33405","order":4,"width":0,"height":0,"passthru":false,"label":"uncover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":840,"wires":[["6b54038d.cd5bec","1a06b235.3b875e","5e914fcd.7b3ae"]]},{"id":"8ae35703.0a3a98","type":"ui_button","z":"6f39e89e.f63c88","name":"","group":"f29a4288.fccc9","order":3,"width":0,"height":0,"passthru":false,"label":"cover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":880,"wires":[["ea392408.7be6c8","6b54038d.cd5bec","1a06b235.3b875e"]]},{"id":"7cba83a8.6bc15c","type":"ui_button","z":"6f39e89e.f63c88","name":"","group":"f29a4288.fccc9","order":4,"width":0,"height":0,"passthru":false,"label":"uncover","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":920,"wires":[["5e914fcd.7b3ae","6b54038d.cd5bec","1a06b235.3b875e"]]}]